:root {
    --primary-black: #a21a39;
    --secondary-black: #dae64a;

    --primary-black: #232323;
    --secondary-black: #000000;
    --tertiaire-black: #333333;

    --primary-white: #888888;
    --secondary-white: #fff;

    --border-color: #2f2f2f;
}

/* Default */
a {
    color: var(--secondary-white) !important;
    text-decoration: unset;
}

a:hover {
    color: var(--primary-white) !important;
    text-decoration: unset !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.subtitle {
    color: var(--secondary-white);
}

/* Buttons */
.previousArticle, .nextArticle,
.next, .previous {
    border: unset!important;
    background-color: var(--primary-black)!important;
}
.fancyButton {
    background-color: var(--primary-black) !important;
    border-color: var(--primary-black) !important;
    color: var(--secondary-white) !important;
    background-image: unset !important;
}

/* rest */
html body,
#layout #contentArea,
.darkFpBlock,
.userReviewDescription,
.fpaMeta {
    background-color: var(--primary-black) !important;
    color: var(--secondary-white) !important;
}

/* Search bar */
#top #searchbar {
    background-color: var(--tertiaire-black) !important;
    color: var(--secondary-white) !important;
}

#top #searchbar input {
    background-color: var(--secondary-black);
    color: var(--secondary-white);
}

.popup,
.hr {
    background-color: var(--primary-black) !important;
}

/* Set Border colors */
#top,
#mainSearch,
#search input.submit,
.nextPreviousArticleContainer .previousArticle,
.nextPreviousArticleContainer .nextArticle,
.relatedContentContainer .relatedContentItems .itemContainer,
.relatedContentContainer .relatedSubjectsContainer .relatedSubjectItems .relatedSubject,
#articleMeta .meta,
#reacties #reactieContainer,
.reactieBody,
#reactieForm textarea,
table.highlights td,
table.highlights,
.popup,
.productSpecifications td,
.specs .popularSpecs,
.specs .popularSpecs th {
    border-color: var(--border-color) !important;
}
#layout * {
    border-color: var(--border-color)!important;
}

.userReviewDescription {
    background-image: unset !important;
}

.reactieBody {
    background-color: var(--tertiaire-black) !important;
    color: var(--secondary-white) !important;
}

#reactieForm textarea {
    background-color: var(--tertiaire-black);
    color: var(--secondary-white);
}

/* Bars */
.bar {
    background-color: var(--tertiaire-black) !important;
    color: var(--secondary-white) !important;
    border-color: var(--border-color) !important;
}

/* Chat */
.message,
#pmreply_form,
#folders,
#pmadmin_form {
    border-color: var(--border-color) !important;
    background-color: var(--tertiaire-black) !important;
    background-image: unset !important;
    color: var(--secondary-white) !important;
    box-shadow: unset !important;
}

/* Pricewatch */
#categoryBrowser {
    background-color: var(--primary-black) !important;
    border-color: var(--primary-black) !important;
}

#categoryBrowser div {
    background-color: var(--primary-black) !important;
}

#categoryBrowser div ul li:hover,
#categoryBrowser div ul li:hover a {
    background-color: #ac193b !important;
    color: var(--secondary-white) !important;
}

#categoryBrowser .sublist.images {
    background-color: transparent !important;
}

#categoryBrowser .sublist.images ul li {
    border-color: var(--border-color) !important;
    box-shadow: unset !important;
}

#categoryBrowser div {
    border-color: var(--border-color) !important;
}

.specs .popularSpecs {
    background-color: var(--primary-black) !important;
}

.productSpecifications tbody tr:hover,
.productSpecifications tbody tr:hover span {
    background-color: var(--tertiaire-black) !important;
    color: var(--secondary-white) !important;
}

#entity {
    background-color: var(--primary-black) !important;
}

.pageTabsContainer {
    background-color: var(--primary-black) !important;
}

.pageTabs li {
    background-color: var(--tertiaire-black) !important;
    background-image: unset !important;
    border-color: var(--border-color) !important;
}

.pageTabs li.active {
    background-color: var(--primary-black) !important;
}


/* Filter */
#filter {
    background-color: var(--tertiaire-black) !important;
    border-color: var(--border-color) !important;
}
.filterBlock,
.filterBlock h4,
#filter .filterGroup,
#filter .filterGroup > h3,
#filter .filterGroup > h4,
#filter div,
#filter span {
    background-color: var(--tertiaire-black)!important;
    color: var(--secondary-white) !important;
}

.ellipsis.toggleCollapse {
    color: var(--primary-white) !important;
}

#entity>div {
    border-color: var(--border-color) !important;
}

/* Quote */
.message-quote-div {
    border-color: var(--border-color) !important;
    background-color: var(--primary-black) !important;
}

/* Inbox */
.info {
    background-image: unset !important;
    background-color: var(--primary-black) !important;
    border-color: var(--border-color) !important;
}

table.listing td {
    background-color: var(--primary-black) !important;
    border-color: var(--border-color) !important;
    color: var(--secondary-white) !important;
}

/* Review page */
body.hero #layout #contentArea,
body.hero #layout #contentArea .info {
    background-image: unset !important;
    background-color: var(--tertiaire-black) !important;
    color: var(--secondary-white);
}
table,
table tr,
table th,
table td {
    background-color: var(--primary-black) !important;
    border-color: var(--border-color) !important;
}
table.forumlisting .preview .content {
    background-color: #333333!important;
}
ul.tabbedContent li {
    background-color: #222222!important;
}


#toc {
    background-color: var(--tertiaire-black) !important;
    box-shadow: unset !important;
}
.previous {
    border-color: var(--border-color)!important;
}
.previous:hover {
    background-color: var(--primary-black)!important;
    border-color: var(--primary-black)!important;
}
.previous .label {
    color: var(--secondary-white)!important;
}
.previous:hover .label {
    color: var(--primary-white)!important;
}

/* Notifications */
.notificationsContainer {
    background-color: var(--primary-black);
}

/* Scoreboard */
.ScoreCard,
.article .ScoreCard.Editorial,
.article .ScoreCard.Editorial .ScorecardView,
.article .ScoreCard.Editorial .productInfo,
.ScoreCard .ScorecardView {
    background-color: var(--primary-black)!important;
}

.fpaItem.compact .fpaTitle {
    background-color: rgba(35, 35, 35, 0.9);
}
/* Abonnementen */
.pc-compare-container.js-compare-container,
.pc .pc-option-link__body,
.pc .pc-compare-options,
.pc-fc .pc-compare-subscription,
.pc-fc .pc-compare-advanced-options {
    background-color: #333333!important;
    color: #ffffff;
}
